streamlit
pandas
numpy
plotly
gspread
google-auth-httplib2
oauth2client
matplotlib-venn
ipywidgets
holidays
Flask
Flask-Cors
python-dotenv
google-auth
google-auth-httplib2
google-api-python-client
requests
asyncio